body {
    background-color: #ADD8E6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007F86;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.disciplinas {
    list-style-type: none;
    padding: 0;
}

.disciplina {
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    
}

.itens {
    list-style-type: none;
    padding: 0;
    display: block;
    text-align: center;
}

.itens li {
    margin: 5px 0;
}
img{
    width: 20px;
    height: 20px;
}
  .button-container {
    display: flex;
    justify-content: space-between; 
  }

  .button {
    flex: 1; 
    text-align: center;
    margin-bottom: 10px;

  }
  h3 {
    color: #007F86;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0;
  }
  .dicas a{
    text-decoration: none;
  }
  h4 {
    display: block;
    text-align: center;
    background-color: #007F86;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px auto;
    width: 200px;
    border-radius: 5px;
}


h4:hover {
    background-color: #ADD8E6;
    text-decoration: none;
    color: #007F86;
}
.nav-link a{
    display: inline-block;
    padding: 12px 24px; /* Aumento do espaçamento interno */
    background-color: #007F86;;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeito de transição suave */
}

a:hover {
    background-color: #ADD8E6;
    transform: scale(1.05); /* Efeito de escala suave no hover */
}


  
  


