* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #007F86;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 28px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
    text-align: justify;
}

p:last-of-type {
    margin-bottom: 0;
}
