/* Estilos para os cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 90%; /* Largura máxima do card */
    margin: 20px;
    text-align: center;
}

.tema-titulo {
    font-size: 20px;
    color: #007F86;
    margin-bottom: 10px;
}

.tema-descricao {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #007F86;
    margin-bottom: 20px;
}

a {
    color: #007F86;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.container {
    text-align: center; /* Certifique-se de que o contêiner pai tem text-align: center */
}

.botao-voltar {
    display: inline-block;
    background-color: #007F86;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #007F86;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.botao-voltar:hover {
    background-color: #ADD8E6;
    transform: scale(1.05);
    color: #333;
}
.card img {
    width: 100%; /* Faz a imagem ocupar 100% da largura disponível */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 150px; /* Define uma largura máxima para todas as imagens */
    max-height: 150px; /* Define uma altura máxima para todas as imagens */
    margin: 0 auto 10px auto; /* Centraliza a imagem e adiciona margem inferior */
    display: block; /* Garante que a imagem seja um bloco para o margin funcionar */
}