body {
    background-color: #ADD8E6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column; /* Mudança para direção de coluna */

}

button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #007F86;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: 10px; 
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #ADD8E6;
    transform: scale(1.05);
    color: black;
}

.card {
    margin: 50px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 25px;
    text-align: center; 
}

#cronometro {
    font-size: 60px;
    color: #fff;
    background: linear-gradient(45deg, #007F86, #ADD8E6); 
    padding: 10px; 
    border-radius: 10px; 
    margin-bottom: 20px;
    border-radius: 50px; 
}

#mensagem {
    font-size: 24px; 
    color: black;
    text-align: center;
    
}
.message {
    text-align: center;
    margin-bottom: 7px;
    margin: 8px;
    padding: 8px;
    box-shadow: 0 0 10px #007F86;
    background-color: #ADD8E6;
    border-radius: 25px;
    text-align: center; 
    
}
.message:hover{
    background-color: #ADD8E6;
    transform: scale(1.05);
    color: black;
}

.message p {
    font-size: 15px;
    color: black;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}